h1 {
    font-family: "Press Start 2P";
    font-size: 72px;
}

p {
    font-size: 18px;
}

#playerOneName, #playerTwoName, #roundOutcome{
    font-family: "Press Start 2P";
    font-size: 24px;
}

h3 {
    font-size: 13px;
}

.playerdc {
    color: red;
}

.playerjoin {
    color: orange;
}

.chatColor1 {
    color: green;
}

.chatColor2 {
    color: blue;
}

#chatDisplay {
    overflow: auto;
}

.copyright {
    font-size: 12px;
}
